/*codigo responsivo  CSS*/
/*codigo responsivo para el menu*/
@media(max-width:767px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 0px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #010E26;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: #021b49;
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }

    /*codigo responsivo para el textos*/
    .text-titulo {
        padding: 50px 20px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
    }

    .text-cuerpo {
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        font-size: 18px;
    }

    .text-subtitulo {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
    }

    /*codigo responsivo para el footer*/
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 0px 0px 30px;
    }

    /*codigo responsivo para el contador*/
    .wrapper {
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
        padding: 450px 0px 0px;
    }

    .wrapper .container {
        height: 35vmin;
        font-size: 13px;
        padding: 0px 0px 0px;
    }




}

/* Responsivo Pagina de Nosotros */
@media only screen and (max-width: 768px) {
    .pf-2 {

        margin-left: 1px;
        text-align: justify;
        column-gap: normal;
        text-align-last: justify;
        width: 70vw;
        height: 30vmin;
        font-size: 10px;
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;


    }

    .h-2 {

        margin-left: 1px;
        text-align: justify;
        column-gap: normal;
        text-align-last: center;
        width: 200vw;
        height: 30vmin;
        font-size: 10px;
        padding: 30px 50px 0px;
        font-family: 'Monserrat';




    }

    .h-1 {

        padding: 50px 20px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;



    }

    .texts-3 {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;


    }

    .h2-2 {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;

    }

    .pf-4 {
        width: 70vw;
        height: 30vmin;
        text-align: left;
        margin-left: 1px;
        font-size: 10px;
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;


    }


    .card {

        text-align: left;
        text-align-last: left;
        width: 60vw;
        height: 30vmin;
        margin-left: 1px;
        font-size: 10px;
    }

    .custom-4 li::marker {
        font-size: 13px;
        content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%237B61FF'/%3E%3C/svg%3E%0A");
    }

    .custom-4 li {
        padding-left: 0.2rem;
        font-size: 10px;
        font-family: 'Monserrat';
    }

    .custom-4 li:hover::marker {
        font-size: 10px;
        content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%230074E0'/%3E%3C/svg%3E%0A");
    }

    #map {
        outline: 0px solid rgb(249, 249, 252);
        margin: 1cm 1cm;
        width: 70vw;
        height: 35vmin;
        text-align: center;
        font-size: 1px;

    }

    #map iframe {

        width: 80vw;
        height: 40vmin;
        font-size: 5px;


    }

    .contenedor img {
        margin: 1.0cm 1.5cm;
        font-size: 10px;
    }

    /*RESPONSIVO PAGINA STEM DAY*/
    .stemday img {
        margin: 80px auto;
        width: 80%;
        min-width: 230px;
        max-width: 330px;
        position: relative;
        height: 250%;
        min-height: 230px;
        max-height: 300px;

        overflow: hidden
    }


}

@media only screen and (max-width: 768px) {

    /*RESPONSIVO PAGINA DISEÑO*/
    .btn {
        text-decoration: none;
        padding: 20px 50px;
        font-size: 15px;
        position: relative;
        margin: 70px;

    }

    .btn-1 {
        background-color: #57C8CC;
        color: #fff;
        border-radius: 100px;
        transition: transform 0.3s ease;
        padding: 20px 50px;
        width: 60%;
        height: 40%;
        align-items: left;
        left: auto;
        font-size: 15px;
        padding-left: 10px;



    }

    .btn-1::after,
    .btn-1::before {
        content: "";
        position: absolute;
        opacity: 0.3;
        background: #57C8CC;
        border-radius: inherit;
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .btn-1:hover {
        transform: translate(-12px, -12px);
    }

    .btn-1:hover::after {
        transform: translate(6px, 6px);

    }

    .btn-1:hover::before {
        transform: translate(12px, 12px);

    }

    .btn-2 {
        background-color: #57C8CC;
        color: #fff;
        border-radius: 100px;
        transition: transform 0.3s ease;
        padding: 20px 50px;
        width: 60%;
        height: 40%;
        align-items: left;
        left: auto;
        font-size: 15px;
        padding-left: 10px;



    }

    .btn-2::after,
    .btn-2::before {
        content: "";
        position: absolute;
        opacity: 0.3;
        background: #57C8CC;
        border-radius: inherit;
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .btn-2:hover {
        transform: translate(-12px, -12px);
    }

    .btn-2:hover::after {
        transform: translate(6px, 6px);

    }

    .btn-2:hover::before {
        transform: translate(12px, 12px);

    }

    .btn-3 {
        background-color: #57C8CC;
        color: #fff;
        border-radius: 100px;
        transition: transform 0.3s ease;
        padding: 20px 50px;
        width: 60%;
        height: 40%;
        align-items: left;
        left: auto;
        font-size: 15px;
        padding-left: 10px;


    }

    .btn-3::after,
    .btn-3::before {
        content: "";
        position: absolute;
        opacity: 0.3;
        background: #57C8CC;
        border-radius: inherit;
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .btn-3:hover {
        transform: translate(-12px, -12px);
    }

    .btn-3:hover::after {
        transform: translate(6px, 6px);

    }

    .btn-3:hover::before {
        transform: translate(12px, 12px);

    }

    .btn-4 {
        background-color: #57C8CC;
        color: #fff;
        border-radius: 100px;
        transition: transform 0.3s ease;
        padding: 20px 50px;
        width: 60%;
        height: 40%;
        align-items: left;
        left: auto;
        font-size: 15px;
        padding-left: 10px;

    }

    .btn-4::after,
    .btn-4::before {
        content: "";
        position: absolute;
        opacity: 0.3;
        background: #57C8CC;
        border-radius: inherit;
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .btn-4:hover {
        transform: translate(-12px, -12px);
    }

    .btn-4:hover::after {
        transform: translate(6px, 6px);

    }

    .btn-4:hover::before {
        transform: translate(12px, 12px);

    }

    .btn-5 {
        background-color: #57C8CC;
        color: #fff;
        border-radius: 100px;
        transition: transform 0.3s ease;
        padding: 20px 50px;
        width: 60%;
        height: 40%;
        align-items: left;
        left: auto;
        font-size: 15px;
        padding-left: 10px;


    }

    .btn-5::after,
    .btn-5::before {
        content: "";
        position: absolute;
        opacity: 0.3;
        background: #57C8CC;
        border-radius: inherit;
        width: 90%;
        height: 90%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .btn-5:hover {
        transform: translate(-12px, -12px);
    }

    .btn-5:hover::after {
        transform: translate(6px, 6px);

    }

    .btn-5:hover::before {
        transform: translate(12px, 12px);

    }

    .pf-5 {
        margin-left: 1px;
        text-align: justify;
        column-gap: normal;
        text-align-last: justify;
        width: 70vw;
        height: 30vmin;
        font-size: 10px;
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    .diseño {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 25px;
        align-items: center;
        justify-content: center;

    }

    .diseño2 {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        align-items: center;

    }

    .diferencia img {
        max-width: 500%;
        width: 250px;
        height: 200px;
        object-fit: contain;
        object-position: center;


    }

}

@media only screen and (max-width: 768px) {

    /*RESPONSIVO PAGINA NOTICIAS*/
    .noticia-1 {
        margin: 50px;


    }

    .noticia-1 img {
        max-width: 300px;

        float: left;
        border-radius: 10px;
        margin-right: 35px;
    }


    .texto-box {
        color: #000;

    }

    .texto-box h2 {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    .texto-box p {
        text-align: justify;
        column-gap: normal;
        text-align-last: justify;
        width: 70vw;
        height: 30vmin;
        font-size: 10px;
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    .noticia-2 {
        margin: 50px;


    }

    .noticia-2 img {
        max-width: 300px;

        float: left;
        border-radius: 10px;
        margin-right: 35px;

    }

    .texto-box2 {
        color: #000;

    }

    .texto-box2 h2 {
        padding: 30px 50px 0px;
        font-family: 'Monserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    .texto-box2 p {
        text-align: justify;
        column-gap: normal;
        text-align-last: justify;
        width: 70vw;
        height: 30vmin;
        font-size: 10px;
        padding: 0px 20px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    .fcc-btn {
        background-color: #57C8CC;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
    }

}

  
